
$font-page:Arial, Helvetica, sans-serif;
$background-page:#B3B6B7 ;
$color-titulo: rgb(243, 93, 6);


$background-marcas:(
    gilera: rgb(243, 93, 6),
    keller: red,
    hero:red,
    motomel:blue,

);

@each $marca, $color in $background-marcas{
    .color__#{$marca}{
        color: $color;
    }
}