
.titulo-galeria{
    
    font-size: 3rem;
}

.foto-galeria{
    @include foto;
}
.titulo-qs{
    color: $color-titulo;
   
   
    &-principal{
        @extend.titulo-qs;
        font-size: 3rem;
    }
    &-secundario{
        @extend.titulo-qs;
        font-size: 2.5rem;
    }
}

.main-estilo{
   margin: 20px;
}
.paragraph-one{
    font-size: 1.5rem;
}
